.input-div-user {
	border: solid 1px #ccc;
	text-align: left !important;
	height: 35px;
	font-style: normal;
	padding: 10px;
	width: 100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.main-div.animate1 {
    transform: scale(1.3);
    
}

.input-div-db {
	border: solid 1px #ccc;
	text-align: left !important;
	height: 40px;
	font-style: normal;
	padding: 10px;
	width: 100%;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.radiodiv {
	margin-top: 30px;
	background-color: #F5F5F5;
}

.radiodiv span{
	}

.input-div2 {
	background: rgba(255, 255, 255, 0.7);
}

.tenant-div {
	margin-top: 20px;
	margin-bottom: -20px;
}

.main_div {
	margin-bottom: 100px;
	background-color: #e9ebf0;
}

.summary_div {
    background-color: #fff;
	height: min-content;
	padding:15px;
	margin:15px;
}

.summary_div h2{
	text-align: center; 
	margin:10px 0;
}

.checkout_autoformat{
	padding-left: 20px;
    border: 1px solid #45b974;
    background-color: #F5F5F5;
    margin-right: 15px;
    margin-left: 30px;
    padding-top: 28px;
    padding-bottom: 30px;
    margin-bottom: 70px;
    padding-right: 30px;
    width: 60%;
    height:100%;
}


.product_check {
	width: 22px;
	height: 22px;
	margin-right: 5px;
}

.banner {
	background-color: #0773D5;
}

.banner .jumbotron{
	background:none;
	padding:2rem 0rem;
}

.banner_text{
}

.banner_text h2{
	color:#fff;
	font-weight:bold;
	text-align:center;
}


.instance-div{
	min-height: 160px;
/*     background-color: grey; */
    max-height: 160px;
}

.calc-div{
	min-height: 200px;
/*     background-color: grey; */
    max-height: 200px;
}


.sub_btn{
	background-color: #0669BD;
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    height: 35px;
    margin-top: 50px;
    color: #fff;
	border:none;
	font-weight:bold;
}





.deact{
	border-color: #03DDE1;
	background-color:#03DDE1;
	border-radius: 3px;
}


.react{
	border-color: #03DDE1;
	background-color:#03DDE1;
	border-radius: 3px;
}


.btncolor{
	border-color: #03DDE1;
	background-color:#03DDE1;
	border-radius: 3px;
}

#wrapwrap{min-height: 20%}
/* #wrapwrap {
    position: relative;
    
} */

.cart_total_custom_calss
   { margin-left: 49.5%;}


.app-bg{
	height: 195px;
	background-color: #d8b960;
	border-bottom: solid firebrick 5px;
	border-radius:8px;
}

.app-bg .middle-content{
	font-size: 0.75em;
	margin-left: 5px;
	margin-top: 15px;
	font-weight:bold;
	width: 50%;
}

.app-bg .more-info{
	padding: 5px;
	line-height: auto;
}


#products_calc .nav-tabs{
	border-bottom:none;
}

.pricing-rules p{
	color:red;
	font-size:13px;
	line-height:6px;
}

#payement_base{
    background-color: buttonface;
    border: solid 1px #ccc;
    height: 40px;
    font-style: normal;
    padding: 10px;
    width: 100%;
    border-radius: 3px;

}

.custom-productimg {/*height:200px;*/ background-color: rgba(255, 255, 255, 0.9) !important;
    color: #212529;height: 200px;}

.custom-product_price {display: flex; font-size: 12px;
    align-items: center;
    justify-content: space-between;}

.custom-product-title {font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: left;}

.custom-product-title p {margin-bottom: 5px;}

.custom-productimg img {      height: 100px !important; width:auto !important;
    /*max-height: 100%!important;*/}

.checkbox-reduce {width:auto!important; height:auto!important; }

@media only screen and (min-width: 320px) and (max-width: 667px) {

.app-bg .middle-content{
	width: 40%;
}

.app-bg .more-info{
	font-size:0.75em;
	font-weight:bold;
}

}


/* The switch - the box around the slider */
.switch {
  position: relative !important;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 7px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;

}









